@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/index.css */
body {
  background-image: linear-gradient(135deg, #fefefe 25%, #fafafa 25%, #fafafa 50%, #fefefe 50%, #fefefe 75%, #fafafa 75%, #fafafa 100%);
  background-size: 8px 8px; /* Еще меньше размер ячеек */
  background-color: #fefefe;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
